<main class="p-6 max-w-7xl mx-auto">
  <!-- Título y descripción -->
  <div class="mb-6">
    <h1 class="text-3xl font-bold text-gray-800 mb-1">Listado de Ventas</h1>
    <p class="text-gray-500">Aquí puedes ver todas las ventas registradas en el sistema.</p>
  </div>

  <!-- Botón Registrar Venta -->
  <div class="mb-6 text-end">
    <button
      (click)="abrirModalVenta()"
      class="inline-flex items-center px-5 py-2.5 bg-blue-600 hover:bg-blue-700 text-white font-medium rounded-lg shadow transition"
    >
      <i class="fa-solid fa-circle-plus mr-2"></i> Registrar Nueva Venta
    </button>
  </div>

  <!-- Modal agregar venta -->
  <div
    *ngIf="mostrarModalVenta"
    class="fixed inset-0 bg-black bg-opacity-40 flex items-center justify-center z-50"
  >
    <div
      class="bg-white rounded-xl shadow-lg p-8 w-full max-w-lg flex flex-col relative"
    >
      <!-- Botón cerrar -->
      <button
        (click)="cerrarModalVenta()"
        class="absolute top-2 right-2 text-gray-400 hover:text-red-600 text-2xl font-bold focus:outline-none"
        aria-label="Cerrar modal"
      >
        &times;
      </button>

      <!-- Título -->
      <h2 class="text-2xl font-semibold mb-6">Nueva Venta</h2>

      <form class="space-y-6">
        <!-- Cliente -->
        <input
          type="text"
          placeholder="Cliente"
          [(ngModel)]="clienteId"
          name="cliente"
          class="w-full border border-gray-400 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
        />

        <!-- Separador Productos -->
        <div class="flex items-center">
          <div class="flex-grow border-t border-gray-300"></div>
          <span class="px-2 text-gray-600 font-medium">Productos</span>
          <div class="flex-grow border-t border-gray-300"></div>
        </div>

        <!-- Listado dinámico de productos -->
        <ng-container *ngFor="let prod of productos; let i = index">
          <div class="relative space-y-2">
            <div class="flex justify-between items-center">
              <span class="font-semibold">{{ i + 1 }}.</span>
              <button *ngIf="productos.length > 1"
                      (click)="eliminarProducto(i)"
                      type="button"
                      class="text-red-500 hover:text-red-700 text-sm">
                Eliminar
              </button>
            </div>

            <!-- input con filtro -->
            <input
              type="text"
              placeholder="Nombre"
              [(ngModel)]="prod.nombre"
              (ngModelChange)="onNombreChange($event, i)"
              name="prodNombre{{i}}"
              class="w-full border border-gray-400 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
              autocomplete="off"
            />

            <!-- lista de sugerencias -->
            <ul *ngIf="filteredProducts[i].length" 
                class="absolute z-10 bg-white border border-gray-300 w-full rounded-md max-h-48 overflow-auto mt-1">
              <li *ngFor="let sugerencia of filteredProducts[i]"
                  (click)="selectProduct(sugerencia, i)"
                  class="px-2 py-1 hover:bg-gray-100 cursor-pointer">
                {{ sugerencia.nombre }}
              </li>
            </ul>

            <input
              type="number"
              placeholder="Cantidad"
              [(ngModel)]="prod.cantidad"
              name="prodCantidad{{i}}"
              class="w-full border border-gray-400 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
            />

            <input
              type="number"
              disabled="true"
              placeholder="Precio"
              [(ngModel)]="prod.precio"
              name="prodPrecio{{i}}"
              class="w-full border border-gray-400 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
            />
          </div>
        </ng-container>

        <!-- Botón Agregar producto -->
        <button
          type="button"
          (click)="agregarProducto()"
          class="flex items-center gap-2 text-sm border border-gray-300 rounded-full px-4 py-2 hover:bg-gray-100 transition"
        >
          <span class="text-lg">＋</span> Agregar producto
        </button>

        <!-- Footer -->
        <div class="flex justify-end space-x-4 pt-4 border-t border-gray-200">
          <button
            type="button"
            (click)="cerrarModalVenta()"
            class="px-6 py-2 bg-gray-200 hover:bg-gray-300 rounded-full transition"
          >
            Cancelar
          </button>
          <button 
           (click)="confirmarVenta()"
            type="button"
            class="px-6 py-2 bg-purple-600 text-white hover:bg-purple-700 rounded-full transition"
          >
            Confirmar
          </button>
        </div>
      </form>
    </div>
  </div>


  <!-- Alerta -->
  <div
    *ngIf="alerta?.mensaje"
    class="mb-4 px-4 py-3 rounded relative"
    [ngClass]="{
      'bg-green-100 text-green-800 border border-green-300': alerta.tipo === 'success',
      'bg-red-100 text-red-800 border border-red-300': alerta.tipo === 'error'
    }"
  >
    {{ alerta.mensaje }}
    <button
      type="button"
      class="absolute top-2 right-3 text-xl text-gray-500 hover:text-black"
      (click)="alerta.mensaje = ''"
    >
      &times;
    </button>
  </div>

  <!-- Tabla -->
  <div class="bg-white shadow rounded-lg overflow-hidden">
    <div class="overflow-x-auto">
      <table class="min-w-full text-sm text-center">
        <thead class="bg-gray-800 text-white uppercase">
          <tr>
            <th class="px-4 py-3">ID Venta</th>
            <th class="px-4 py-3">Cliente</th>
            <th class="px-4 py-3">Vendedor</th>
            <th class="px-4 py-3">Fecha</th>
            <th class="px-4 py-3">Total</th>
            <th class="px-4 py-3">Método de Pago</th>
            <th class="px-4 py-3">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let venta of ventas" class="border-b hover:bg-gray-50">
            <td class="px-4 py-3 font-semibold">{{ venta.id }}</td>
            <td class="px-4 py-3">{{ venta.cliente?.nombre || 'Sin cliente' }}</td>
            <td class="px-4 py-3">{{ venta.user?.name || 'Desconocido' }}</td>
            <td class="px-4 py-3">{{ venta.fecha | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td class="px-4 py-3 text-right">{{ venta.total_venta | currency:'COP' }}</td>
            <td class="px-4 py-3 capitalize">{{ venta.metodo_de_pago }}</td>
            <td class="px-4 py-3 flex justify-center gap-2">
              <button
                class="bg-blue-500 hover:bg-blue-600 text-white px-3 py-1 rounded text-sm"
                title="Ver detalle"
                disabled
              >
                <i class="fa-solid fa-eye"></i>
              </button>
              <button
                class="bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded text-sm"
                title="Eliminar"
              >
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </td>
          </tr>
          <tr *ngIf="ventas.length === 0">
            <td colspan="7" class="text-gray-500 text-center py-4">
              No hay ventas registradas.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
