/* Estilo del sidebar */
.sidebar {
  width: 250px;
  transition: all 0.3s ease-in-out;
  background-color: #f8f9fa;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  z-index: 100;
}

.sidebar:not(.open) {
  margin-left: -250px;
}

.toggle-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 101;
}
